* {
    user-select: none;
}

.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 3;
    background: rgb(55, 69, 92);
    display: flex;
    flex-direction: column;
}

header {
    width: 98%;
    height: 35px;
    background: whitesmoke;
    box-shadow: 1px 5px 5px rgb(162, 162, 162);
    position: relative;
    z-index: 3;
    padding: 20px;
    padding-right: 20px !important;
}

.main {
    padding-left: 280px;
    height: 100vh;
    background: rgb(226, 226, 226);
}

.navicons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
}

.sidebarHeader {
    height: 75px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: white;
    box-shadow: 0px 5px 5px rgb(33, 41, 55);
    z-index: -1;
    margin-bottom: 16px;
}

.middleHeader {
    height: 75px;
    text-align: center;
    vertical-align: middle;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: rgb(0, 0, 0);
    z-index: -1;
}

body {
    margin: 0;
    overflow: hidden;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.leftHeader span {
    font-size: 40px !important;
    padding-left: 15px;
    padding-right: 15px;
}

.rightHeader span {
    font-size: 40px !important;
    padding-left: 15px;
    padding-right: 15px;
}

.divit {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: whitesmoke;
    line-height: 0;
}

.divit span {
    padding-left: 20px;
    font-size: 28px;
    padding-right: 10px;
}

.leftDivit {
    display: flex;
    align-items: center;
}

.sidebar a {
    font-family: "Varela", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: whitesmoke;
}

.secondText {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 55px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

#MTH {
    margin-top: 5px;
    margin-bottom: 7px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: center;
    background: darkgray;
    border-radius: 5px;
    margin-left: 75px;

    display: flex;
    flex-direction: column;
}


#LCCDE {
    margin-bottom: 7px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: center;
    background: darkgray;
    border-radius: 5px;
    margin-left: 75px;

    display: flex;
    flex-direction: column;
}

#Tree-Based {
    margin-bottom: 7px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: center;
    background: darkgray;
    border-radius: 5px;
    margin-left: 75px;

    display: flex;
    flex-direction: column;
}

.slider {
    margin-left: 80px;
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slideText {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    line-height: 3px;
    width: 50%;
    font-family: "Varela", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
    color: darkgray;
}

.SMOTEinput {
    display: flex;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    line-height: normal;
    font-family: "Varela", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    color: darkgray;
}

.SMOTEText {
    padding-left: 15px;
    margin: 0;
    line-height: normal;
    font-family: "Varela", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: darkgray;
}

.SMOTEinput input {
    width: 20%;
    height: 15px;
    background-color: rgb(55, 69, 92);
    line-height: normal;
    font-family: "Varela", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: darkgray;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.SMOTESpacer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.btn {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    transition: color 0.1s;
}

.btn:active {
    color: grey;
}

.active {
    background-color: transparent;
}

.content {
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.graphContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 30vw;
    height: 30vw;
    background: whitesmoke;
    box-shadow: 0px 5px 10px rgb(184, 184, 184);
    border-radius: 5px;
    margin: 10px;
}

.rightAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-color: rgb(167, 170, 177);
    border-style: solid;
    z-index: 2;
    border-width: 5px;
    width: 2vw;
    height: 30vw;
    padding: 15px;
    margin-top: 10px;
    right: 20%;
    margin-left: 10px;
}

.rightAdd span {
    font-size: 40px !important;
    color: rgb(159, 170, 191);
}

.rightAdd:hover {
    border-color: rgb(114, 117, 124);
    z-index: 900;
}

.leftAdd {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-color: rgb(167, 170, 177);
    border-style: solid;
    z-index: 2;
    border-width: 5px;
    width: 30vw;
    height: 2vw;
    padding: 15px;
}

.leftAdd span {
    font-size: 40px !important;
    color: rgb(159, 170, 191);
}

.leftAdd:hover {
    border-color: rgb(114, 117, 124);
    z-index: 900;
}

.upperContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hideSection {
    display: flex;
    flex-direction: column;
}

.runButton {
    width: 70%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background: #04AA6D;
    border-radius: 10px;
    margin-left: 15%;
    font-family: "Varela", sans-serif;
    font-weight: 400 !important;
    font-style: bold;
    font-size: 30px !important;
}

.runButton:hover {
    background: #02754a;
}

.cancelButton {
    width: 70%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background: darkgray;
    border-radius: 10px;
    margin-left: 15%;
    font-family: "Varela", sans-serif;
    font-weight: 400 !important;
    font-style: bold;
    font-size: 30px !important;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cancelButton:hover {
    background: rgb(130, 130, 130);
}

.endButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.graphTypes {
    display: flex;
    flex-direction: column;
}

.graphTypes a{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 115px;
    height: 30px;
    background: darkgray;
}

.EvenMoreBullshit {
    height: 100%;
}

#matrix:hover{
    background: rgb(130, 130, 130);
}

#line:hover{
    background: rgb(130, 130, 130);
}

#bar:hover{
    background: rgb(130, 130, 130);
}

#pie:hover{
    background: rgb(130, 130, 130);
}

#callout:hover{
    background: rgb(130, 130, 130);
}

.MatrixParameters{
    display: none;
}

.LineParameters{
    display: none;
}

.BarParameters{
    display: none;
}

.PieParameters{
    display: none;
}

.CalloutParameters{
    display: none;
}

.MatrixParameters a{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: 30px;
    background: darkgray;
}

.LineParameters a{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: auto;
    background: darkgray;
}

.BarParameters a{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: auto;
    background: darkgray;
}

.PieParameters a{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: auto;
    background: darkgray;
}

.CalloutParameters a{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: auto;
    background: darkgray;
}

.MatrixParameters a:hover{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: 30px;
    background: rgb(130, 130, 130);
}

.LineParameters a:hover{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: auto;
    background: rgb(130, 130, 130);
}

.BarParameters a:hover{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: auto;
    background: rgb(130, 130, 130);
}

.PieParameters a:hover{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: auto;
    background: rgb(130, 130, 130);
}

.CalloutParameters a:hover{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 90px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 175px;
    height: auto;
    background: rgb(130, 130, 130);
}

.hideSection.hidden,
.graphList.hidden,
.graphTypes.hidden,
.parametersList.hidden,
.classifierList.hidden,
.historyList.hidden,
.samplingList.hidden {
    display: none;
}

.addingGraph{
    display: flex;
    flex-direction: column;
    height: 100%;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.addingGraph::-webkit-scrollbar {
    display: none;
}

.idleState{
    font-family: "Varela", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: whitesmoke;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentSeperator{
    display: flex;
}

.rows{
    display: flex;
    flex-direction: row;
}

.cols{
    display: flex;
}

.hiddenContainerx{
    width: 0;
}

.hiddenContainery{
    height: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: whitesmoke;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-style: italic;
}