body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #555;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #777;
}

.sidebar a:hover {
    background-color: #444;
}

.midButton {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #777;
    width: 325px;
    text-align: center;
    font-weight: bold;
}

.midButton:nth-child(1) {
    margin-left: 40px;
    background-color: #4428BC;
}

.midButton:nth-child(2) {
    background-color: #A81000;
}

.midButton:nth-child(3) {
    background-color: #007800;
}

.midButton:nth-child(4) {
    background-color: #D800CC;
}

.midButton:nth-child(5) {
    background-color: #F8B800;
}

.midButton:hover {
    filter: brightness(0.8);
    color: #fff; /* This doesn't override the shadow effect for some reason */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 60vh;
    padding: 20px;
    padding-top: 50px;
}

.ChangeAlgorithmContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.FeaturesPanel1 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9e9d9dda;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
}

.FeaturesPanel1 a {
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 150px;
    background-color: rgb(45, 45, 45);
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

.FeaturesPanel1 input[type="checkbox"] {
    margin-right: 5px;
}

#closeButton1 {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 175px;
    text-align: center;
    font-weight: bold;
    background-color: #c41401;
    font-size: 18px;
}

.FeaturesPanel2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9e9d9dda;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
}

.FeaturesPanel2 a {
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 150px;
    background-color: rgb(45, 45, 45);
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

.FeaturesPanel2 input[type="checkbox"] {
    margin-right: 5px;
}

#closeButton2 {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 175px;
    text-align: center;
    font-weight: bold;
    background-color: #c41401;

    font-size: 18px;
}

.FeaturesPanel3 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9e9d9dda;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
}

.FeaturesPanel3 a {
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 150px;
    background-color: rgb(45, 45, 45);
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

.FeaturesPanel3 input[type="checkbox"] {
    margin-right: 5px;
}

#closeButton3 {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 175px;
    text-align: center;
    font-weight: bold;
    background-color: #c41401;

    font-size: 18px;
}

#loadingIndicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 3px 5px;
    border-radius: 4px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    transform: translateY(375%);
}

.tooltip .tooltiptext::after {
    content: "";
    position: 100%;
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: #42464e transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}