body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #555;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #777;
}

.sidebar a:hover {
    background-color: #444;
}

.midButton {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #777;
}

.midButton:hover {
    background-color: #444;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 80vh;
    padding: 20px;
    padding-top: 50px;
}